{% extends 'base.html' %}
{% load static %}

<title>{% block title %} Articulos {% endblock %}</title>

{% block contenido %}

<!-- Start Categories of The Month -->
<section class="container py-5">
  <div class="row text-center pt-3">
    <div class="col-lg-6 m-auto">
      <h1 class="h1">Articulos</h1>
      <p>
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
        deserunt mollit anim id est laborum.
      </p>
    </div>
  </div>

  <div class="row">
    {% for articulo in articulos %}
      <div class="col-12 col-md-4 p-5 mt-3">
        <h4 class="text-center mt-3 mb-3">{{ articulo.titulo | capfirst }}</h4>
        <h7 class="text-center mt-6 mb-6">Fecha de Publicación: {{ articulo.fecha_publicacion }}</h7>
        <div class="text-center mt-3 mb-3">
          <a href="#"><img src="{{ articulo.imagen.url }}" cl ass="rounded-circle img-fluid border" style="width: 230px; height: 200px;"></a>
          <br>
          <h7 class="text-center mt-1 mb-1">{{ articulo.titulo }}</h7> 
        </div>
        <div>
          <p class="text-center"><a class="btn btn-success" href="{% url 'apps.articulos:leer_articulo' articulo.id %}">Ingresá</a></p>
        </div>
      </div>
    {% empty %}
      <div class="col-12">
        <p>No hay artículos.</p>
      </div>
    {% endfor %}
  </div>
</section>
<!-- End Categories of The Month -->

{% endblock %}
